@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    @apply bg-gray-100 text-slate-900 transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-brand-dark text-white;
  }
}

@layer utilities {
  .clip-text-image {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .grid-pattern {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  }
  
  .dark .grid-pattern {
    background-image: linear-gradient(to right, rgba(255,255,255,0.05) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(255,255,255,0.05) 1px, transparent 1px);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #333;
}